/* Mobile version*/
@media(max-width:768px) {
    header {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    header>nav {
        text-align: center;
    }

    header>nav>ul {
        float: none;
        margin: auto;
    }

    header>nav>ul>li {
        display: block;
        margin: none;
    }

    header>nav>.icon {
        float: none;
        margin: 10px auto;
        text-align: center;
    }

    .container1>.bgImg>.content {
        margin: 0px 25px 100px 25px;
    }

    .container2>.card {
        flex-flow: column;
        gap: 40px;
    }

    .container2>.card>.food {
        width: 80%;
    }

    .container2>.card>.food>img {
        width: 100%;

    }
}

/* Tablet version */
@media (min-width:769px) and (max-width:1200px) {
    header {
        justify-content: center;
        align-items: center;
    }

    header>nav>ul {
        float: none;
        margin: auto;
    }

    header>nav>.icon {
        float: none;
        text-align: center;
        margin-bottom: 10px;
    }

    .container2>.card {
        flex-flow: row wrap;
        gap: 50px;
        justify-content: space-around;
    }

    .container2>.card>.food {
        width: 38%;
    }

    .container2>.card>.food>img {
        width: 100%;

    }
}